body {
  background-color: aliceblue;
}
h1 {
  font-family: "Lobster", cursive;
  font-size: 60px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.card {
  width: 100%;
  font-family: "Kiwi Maru", serif;
  margin: 0 auto;
  margin-top: 150px;
  background: radial-gradient(
    592px at 48.2% 50%,
    rgba(255, 255, 249, 0.6) 0%,
    rgb(160, 199, 254) 74.6%
  );

  border: 2px solid #343a40;
}

.time-of-day {
  position: relative;
  margin-top: 6px;
}
.local-temp-button {
  padding: 0 auto;
  border: none;
  border-radius: 20px;
  margin: 0 auto;
  position: relative;
  margin-top: 1px;
  text-align: center;
}

.current-prevision {
  margin-top: 30px;
}
.emoji {
  font-size: 40px;
  line-height: 1;
  position: relative;
  top: 2px;
}
.clearfix .temperature {
  font-size: 40px;
  line-height: 1;
}

.clearfix .units {
  position: relative;
  font-size: 14px;
  top: -17px;
}
.forecast {
  text-align: center;
}

.emoji-forecast {
  font-size: 100px;
}
footer {
  text-align: center;
  margin-top: 10px;
}
#day-forecast {
  border: 2px solid #343a40;
  border-radius: 20%;
  padding: 8px;
}
